.header {
  margin: 0;
  background: url("../img/img/HeaderBackground.png") center center no-repeat;
  background-size: cover;
  text-align: center;
}

.header__title {
  padding-top: 295px;
}

.header__subtitle {
  padding-top: 8px;
}

.header__form {
  padding-top: 48px;
}

.title,
.subtitle {
  color: #ffffff;
  font-family: "Josefin Sans", sans-serif;
}

.title {
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 52px;
  text-transform: uppercase;
}

.subtitle {
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 28px;
  letter-spacing: 0.31em;
}

.button {
  color: #ffffff;
  font-family: "Aleo", sans-serif;
  background: #5373fd;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.scroll {
  margin-top: 211px;
  padding-bottom: 120px;
}

.scroll__down {
  color: #ffffff;
  font-family: "Josefin Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.2em;
  padding-bottom: 8px;
}

.booknow {
  background: url("../img/img/render-1477041_1280 1.png") center center no-repeat;
  background-size: cover;
}

.container {
  padding-top: 220px;
}

.card {
  width: 648px;
  text-align: left;
  background: rgba(35, 35, 35, 0.9);
  padding-top: 44px;
  padding-left: 32px;
  margin-bottom: 120px;
}

.card h4 {
  color: #ffffff;
  font-family: "Josefin Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
  margin-bottom: 16px;
  text-transform: uppercase;
}

.card p {
  color: #ffffff;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
  line-height: 28px;
  letter-spacing: 0.1em;
}

.spain {
  font-size: 20px;
  margin-bottom: 16px;
}

.text {
  font-size: 16px;
  margin-bottom: 24px;
  width: 584px;
}

.book {
  background-color: #5373fd;
  color: #ffffff;
  font-family: "Aleo", sans-serif;
  cursor: pointer;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  padding: 20px 56px;
  margin-bottom: 44px;
}

.footer {
  background: #000000;
  color: #ffffff;
  font-family: "Josefin Sans", sans-serif;
  text-align: center;
}

.footer__title {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  padding-top: 80px;
  padding-bottom: 8px;
}

.footer__subtitle {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2em;
  padding-bottom: 22px;
}

.footer__social {
  padding-bottom: 80px;
}

.footer__social svg {
  fill: #ffffff;
  -webkit-transition: all 0.5s linear 0s;
  transition: all 0.5s linear 0s;
}

.footer__social svg:hover {
  fill: #5373fd;
}

.social__list li {
  list-style: none;
  display: inline;
}

.social__item:not(:last-child) {
  margin-right: 80px;
}

.social__link a {
  text-decoration: none;
}

.navigation {
  background: #5373fd;
}

.container {
  height: 84px;
}

.logo__container {
  color: #ffffff;
  font-family: "Josefin Sans", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  padding-top: 32px;
}

.menu__list {
  list-style: none;
}

.menu__link {
  color: #ffffff;
  font-family: "Aleo", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.notebook {
  background: url("../img/img/spain-1859434_1280 1.png") center center no-repeat;
  background-size: cover;
}

.container1 {
  padding-top: 220px;
}

.card1 {
  width: 649px;
  text-align: left;
  background: rgba(35, 35, 35, 0.9);
  padding-top: 44px;
  padding-left: 32px;
  margin: 220px 300px 120px 971px;
}

.card1 h4 {
  color: #ffffff;
  font-family: "Josefin Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
  margin-bottom: 16px;
  text-transform: uppercase;
}

.card1 p {
  color: #ffffff;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
  line-height: 28px;
  letter-spacing: 0.1em;
}

.spain1 {
  font-size: 20px;
  margin-bottom: 16px;
}

.text1 {
  font-size: 16px;
  margin-bottom: 24px;
  width: 584px;
}

.book1 {
  background-color: #5373fd;
  color: #ffffff;
  font-family: "Aleo", sans-serif;
  cursor: pointer;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  padding: 20px 56px;
  margin-bottom: 44px;
}

.steps {
  background: #333333;
}

.inner {
  margin-top: 170px;
  margin-bottom: 103px;
}

.inner a {
  text-decoration: none;
}

.inner h2 {
  margin-top: 4px;
  color: #ffffff;
  font-family: "Aleo", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 40px;
  text-align: center;
  text-transform: capitalize;
}

.inner:hover {
  -webkit-text-decoration: underline #b68cee;
          text-decoration: underline #b68cee;
}

.inner svg {
  padding: 18px;
  border: 2px solid transparent;
  border-radius: 50px;
}

.inner a:hover svg {
  border: 2px solid #ad77f3;
}

.what-say {
  background: url("../img/img/BG.png") center center no-repeat;
  background-size: cover;
}

.container {
  padding-bottom: 180px;
  width: 1320px;
}

.what-say__title h1 {
  font-family: "Aleo", sans-serif;
  color: #ffffff;
  padding-top: 120px;
  padding-bottom: 60px;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 40px;
  text-align: center;
  text-transform: capitalize;
}

.container__img {
  width: 480px;
}

.review {
  font-family: "Josefin Sans", sans-serif;
  color: #ffffff;
  background: #333333;
  width: 885px;
  text-align: left;
  padding-top: 48px;
  padding-left: 60px;
  padding-bottom: 48px;
}

.review h2 {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
  text-transform: uppercase;
  margin-bottom: 16px;
}

.container__text {
  width: 760px;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.1em;
}

.icon svg {
  margin-bottom: -15px;
}

.why {
  background: url("../img/img/WhyBackground.png") center center no-repeat;
  background-size: cover;
}

.why h2 {
  color: #ffffff;
  font-family: "Aleo", sans-serif;
  font-weight: normal;
  text-align: left;
  font-size: 36px;
  line-height: 40px;
  text-transform: capitalize;
  margin-top: 190px;
  margin-bottom: 24px;
}

.why p {
  color: #ffffff;
  font-family: "Josefin Sans", sans-serif;
  font-style: normal;
  text-align: left;
  font-weight: 300;
  font-size: 16px;
  line-height: 28px;
  width: 648px;
  margin-bottom: 32px;
  letter-spacing: 0.1em;
}

.why .nacisk {
  color: #ffffff;
  font-family: "Aleo", sans-serif;
  background-color: #486bfe;
  cursor: pointer;
  border: none;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  padding: 20px 32px;
  margin-bottom: 190px;
  margin-left: -410px;
}

.why__images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 350px;
  margin-top: 124px;
  margin-bottom: 16px;
}

.why__images {
  margin-bottom: 16px;
}

.why__images {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
/*# sourceMappingURL=main.css.map */