.footer {
  background: $black;
  color: $white;
  font-family: $Josefin-Sans;
  text-align: center;

  &__title {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;

    letter-spacing: 0.1em;
    text-transform: uppercase;
    padding-top: 80px;
    padding-bottom: 8px;
  }

  &__subtitle {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;

    letter-spacing: 0.2em;
    padding-bottom: 22px;
  }
  &__social {
    padding-bottom: 80px;
  }
  &__social svg {
    fill: $white;
    transition: all 0.5s linear 0s;
  }
  &__social svg:hover {
    fill: $accent;
  }
}
.social {
  &__list li {
    list-style: none;
    display: inline;
  }

  &__item li {
  }
  &__item:not(:last-child) {
    margin-right: 80px;
  }
  &__link a {
    text-decoration: none;
  }
}
