.header {
  margin: 0;
  background: url("../img/img/HeaderBackground.png") center center no-repeat;
  background-size: cover;
  text-align: center;
}

.header__title {
  font-family: $Josefin-Sans;
  color: $white;
  font-weight: bold;
  font-size: 48px;
  line-height: 52px;
  padding-top: 295px;

  text-transform: uppercase;
}
.header__subtitle {
  font-family: $Josefin-Sans;
  color: $white;
  font-weight: normal;
  font-size: 22px;
  line-height: 28px;
  padding-top: 8px;

  letter-spacing: 0.31em;
}

.header {
  &__form {
    transition: all;
    margin-top: 48px;
  }
}
.form {
  input {
    font-family: $Josefin-Sans;
    color: $text-grey;

    width: 647px;
    padding: 20px 334px 20px 36px;
    border: none;
    box-shadow: 0 0 10px rgba($color: #1dc5d1, $alpha: 1);
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;

    letter-spacing: 0.2em;
    transition-duration: 0.5s;
    transition-property: opacity;
    z-index: -1;
  }
}
.button {
  background-color: $accent;
  color: $white;
  font-family: $Aleo;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  margin-top: -10px;
  margin-left: -155px;
  margin-bottom: -30px;

  letter-spacing: 0.1em;
  text-transform: uppercase;

  cursor: pointer;
  border: none;
  box-shadow: none;

  padding: 16px 24px;
  z-index: 2;

  .search__img {
    fill: $white;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 10px;
  }
}
button:hover {
  background-color: rgb(74, 74, 202);
}
.row {
  position: relative;
  text-align: center;
}

.csroll {
  font-family: $Josefin-Sans;
  color: $white;

  margin-top: 211px;
  padding-bottom: 120px;

  cursor: pointer;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;

  text-align: center;
  letter-spacing: 0.2em;
}
