.navigation {
  background: $accent;
}
.container {
  padding-top: 32px;
  padding-bottom: 32px;
  &__manu {
  }
}
.title {
  color: $white;
  font-family: $Josefin-Sans;
  display: block;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  padding-top: 32px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
.manu {
}
.container {
  &__manu {
  }
}
.list {
  margin-left: 524px;
  &__sector {
    list-style: none;
    display: inline-block;
    float: left;
    line-height: 100px;
  }
}
.menu {
  &__list {
    // padding-top: 32px;
    // padding-bottom: 32px;
  }
}
.sector {
  &__link {
    color: $white;
    font-family: $Aleo;
    text-decoration: none;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;

    display: flex;
    align-items: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    padding-right: 40px;
  }

  &__link:hover {
    color: rgb(76, 18, 143);
    text-decoration: underline 3px rgb(109, 13, 235);
  }
}
