.notebook {
  background: url("../img/img/spain-1859434_1280 1.png") center center no-repeat;
  background-size: cover;
  padding-top: 220px;
  padding-bottom: 120px;
}
.container1 {
}
.card1 {
  width: 649px;
  text-align: left;
  background: rgba(35, 35, 35, 0.9);
  padding-top: 44px;
  padding-left: 32px;
  margin-left: 971px;
}
.card1 h4 {
  color: $white;
  font-family: $Josefin-Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
  margin-bottom: 16px;

  text-transform: uppercase;
}
.card1 p {
  color: $white;
  font-family: $Josefin-Sans;
  font-weight: 300;
  line-height: 28px;

  letter-spacing: 0.1em;
}
.spain1 {
  font-size: 20px;
  margin-bottom: 16px;
}
.text1 {
  font-size: 16px;
  margin-bottom: 24px;
  width: 584px;
}
.book1 {
  background-color: $accent;
  color: $white;
  font-family: $Aleo;
  cursor: pointer;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;

  text-align: center;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  padding: 20px 56px;
  margin-bottom: 44px;
}
