.what-say {
  background: url("../img/img/BG.png") center center no-repeat;
  background-size: cover;
  padding-top: 120px;
  padding-bottom: 180px;
}
.container {
}
.what-say__title h1 {
  font-family: $Aleo;
  color: $white;

  padding-bottom: 60px;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 40px;

  text-align: center;
  text-transform: capitalize;
}
.row {
}
.container__img {
  width: 480px;
}
.review {
  font-family: $Josefin-Sans;
  color: $white;
  background: $dark-grey;
  width: 885px;
  text-align: left;
  padding-top: 48px;
  padding-left: 60px;
  padding-bottom: 48px;
  @media (max-width: 1360px) {
    width: 100%;
    padding-bottom: 20px;
  }
}
.review h2 {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;

  text-transform: uppercase;

  margin-bottom: 16px;
}
.container__text {
  width: 760px;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 28px;

  letter-spacing: 0.1em;
  @media (max-width: 1360px) {
    width: 100%;
  }
}
.icon svg {
  margin-bottom: -15px;
}
